<p class="experience-heading">Experience</p>
<div class="timeline">
  @for (experience of experiences; track experience.year) {
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      @if (!$last) {
        <div class="timeline-line"></div>
      }
      <div class="timeline-content">
        <p class="timeline-year">{{ experience.year }}</p>
        <p class="timeline-title">{{ experience.title }} - {{ experience.company }}</p>
        <p class="timeline-description">{{ experience.description }}</p>
        @if (experience.projectItems?.length) {
          @for (projectItem of experience.projectItems; track projectItem) {
            <div class="project-item-container">
              <p class="project-heading">{{ projectItem['projectItemHead'] }}</p>
              <p class="timeline-description project-info">{{ projectItem['projectInfo'] }}</p>
            </div>
          }
        }
      </div>
    </div>
  }
</div>
