@import "../shared-styles/variables";

:host {
  display: grid;
  align-items: center;
  justify-content: center;
}

.skills-heading {
  margin: 0 auto 2rem auto;
}

.skills-heading {
  font-size: 1.4rem;
  font-weight: bold;
  color: $primary-color;
  text-align: center;
}

.hint {
  color: $accent-color;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  max-height: 400px;
  transition: max-height 0.5s ease-in-out; // Smooth transition for height

  &.invisible {
    max-height: 0;
  }
}

.slider-track {
  display: inline-flex;
  gap: 2rem;
  animation: slide 20s linear infinite;

  &.paused {
    animation-play-state: paused;
  }
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 1rem;
  width: 100px;
  position: relative;
  color: $text-color;
}

.skill-icon {
  width: 60px;
  height: 60px;
}

.skill-name {
  margin-top: 5px;
  font-size: 14px;
}

.skill-popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $primary-color;
  color: $background-color;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
}

.skill-item:hover .skill-popup {
  opacity: 1;
  visibility: visible;
}

.expand-button {
  padding: 1rem 2rem 1rem 2rem;
  background-color: transparent;
  color: $text-color;
  border: none;
  cursor: pointer;
  display: grid;
  margin-bottom: 1rem;
  font-weight: 500;

  i {
    font-size: 1.7rem;
    animation: chevron 2.5s infinite ease-in-out;
  }

  &:hover {
    color: $accent-color;
  }
}

.expand-container {
  max-height: 0; // Start with zero height
  overflow: hidden; // Hide overflow during transition
  transition: max-height 0.5s ease-in-out; // Smooth transition for height

  &.visible {
    max-height: 600px; // Set a max height large enough to fit the content
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes chevron {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .expand-container.visible {
    max-height: 2000px;
  }
}
