<h2 class="skills-heading">&lt;Skills /&gt;</h2>
<div
  class="slider-container"
  [class.invisible]="isComponentVisible"
  (mouseenter)="onHover()"
  (mouseleave)="onLeave()"
>
  <div class="slider-track" [class.paused]="isHovered">
    @for (skill of skills; track skill.name) {
      <div class="skill-item">
        <img
          class="skill-icon"
          loading="lazy"
          [src]="skill.icon"
          [alt]="skill.name"
        />
        <span class="skill-name">{{ skill.name }}</span>
        <div class="skill-popup">
          {{ skill.experience }}
        </div>
      </div>
    }
    @for (skill of skills; track skill.name) {
      <div class="skill-item">
        <img
          class="skill-icon"
          [src]="skill.icon"
          [alt]="skill.name"
        />
        <span class="skill-name">{{ skill.name }}</span>
        <div class="skill-popup">
          {{ skill.experience }}
        </div>
      </div>
    }
  </div>
</div>
<button class="expand-button" aria-label="Expand skill description section" (click)="toggleComponent()">
  @if (isComponentVisible) {
    <i class="fa-solid fa-chevron-up"></i>
  } @else {
    <i class="fa-solid fa-chevron-down"></i>
  }
</button>

<div class="expand-container" [class.visible]="isComponentVisible">
  <app-skills-expanded/>
</div>

<app-additional-skills />
