<p class="portfolio-heading">Portfolio</p>
<div class="portfolio-grid">
    @for (item of portfolioItems; track item.name;) {
        <div class="portfolio-item">
            <div class="portfolio-content">
                <p class="portfolio-name">{{ item.name }}</p>
                <p class="portfolio-description">{{ item.description }}</p>
                <a class="portfolio-link" href="{{ item.url }}" target="_blank">
                    <button aria-label="Visit websites" class="gradient-button">Visit Website</button>
                </a>
            </div>
            <iframe [title]="item.name" [src]="item.url | safeUrl" loading="lazy" class="portfolio-iframe"></iframe>
        </div>
    }
</div>
