<app-header class="header-section" [class.header-shadow]="isScrolled" />
<app-in-touch/>
<main>
  <section id="home" class="section home-section">
    <app-home/>
  </section>
  <section id="about" class="section about-section">
    <app-about/>
  </section>
  <section id="skills" class="section skills-section">
    <app-skills/>
  </section>
  <section id="experience" class="section experience-section">
    <app-experience/>
  </section>
  <section id="portfolio" class="section portfolio-section">
    <app-portfolio/>
  </section>
  <section id="contact" class="section contact-section">
    <app-contact/>
  </section>
</main>
