<section class="additional-skills-section" #additionalSkillsSection>
  <h2 class="additional-skills-heading">&lt;Additional Skills /&gt;</h2>
  <div class="skills-wrapper">
    <div class="skill-group">
      <h3>Additional Programming Skills</h3>
      <ul>
        @for (skill of programmingSkills; track skill) {
          <li>{{ skill }}</li>
        }
      </ul>
    </div>
    <div class="skill-group">
      <h3>Editors (IDEs)</h3>
      <ul>
        @for (skill of developmentEnvironments; track skill) {
          <li>{{ skill }}</li>
        }
      </ul>
    </div>
    <div class="skill-group">
      <h3>Soft Skills</h3>
      <ul>
        @for (skill of softSkills; track skill) {
          <li>{{ skill }}</li>
        }
      </ul>
    </div>
  </div>
</section>
