@import "../../shared-styles/variables";

:host {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  align-items: end;
  padding: 0 2rem;
  justify-content: space-between;
}

.social-icons, .mail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.icon {
  font-size: 24px;
  color: $text-color;
  transition: color .3s ease, transform .3s ease;
  text-decoration: none;
}

.icon:hover {
  transform: translateY(-5px);
  color: $accent-color;
}

.line {
  height: 10vw;
  background-color: $primary-color;
  width: 2px;
}

@media (max-width: 768px) {
  :host {
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  :host {
    display: none;
  }
}
