<div class="code-editor">
  <div class="action-header">
    <span class="dot red"></span>
    <span class="dot yellow"></span>
    <span class="dot green"></span>
  </div>
  <pre class="code">
    <code>
      <span class="keyword">const</span> coder <span class="operator">=</span> &#123;
        name: <span class="string">'Rosie'</span>,
        skills: [
          <span class="string">'HTML'</span>,
          <span class="string">'CSS (SCSS / Less)'</span>,
          <span class="string">'Angular'</span>,
          <span class="string">'UI/UX'</span>,
          <span class="string">'Git'</span>,
          <span class="string">'Bootstrap'</span>,
        ],
        hardWorker: <span class="boolean">true</span>,
        quickLearner: <span class="boolean">true</span>,
        problemSolver: <span class="boolean">true</span>,
      &#125;
    </code>
  </pre>
</div>
<div class="about-me-container">
  <div class="image-container"></div>
  <div class="about-me-content">
    <h1>Hello I'm Rosie</h1>
    <h3>FrontEnd developer</h3>
    <p>High-level experience in web design and development knowledge, producing quality work.</p>
    <a href="/assets/files/RosieManukyan_CV.pdf" download>
      <button aria-label="Download CV" class="gradient-button">
        Download CV
        <i class="fa-solid fa-download"></i>
      </button>
    </a>
  </div>
</div>
